<a href="http://missuproar.rockstaruproar.com" class="missU-header"><img src="http://cache.rockstaruproar.com/images/2012/missuproar/missUproarHeader_03.png"></a>
#confirmation
	.info3
		Thank you for entering 
		%span.yellow Miss UPROAR 2012!
		 You will be receiving an email following this message with details on how to confirm your profile. Thanks for entering, and good luck!