#confirmation
	.info3
		Thank you for entering 
		%span.yellow Sullen Art Collective's Miss UPROAR 2011
		! You will be receiving an email following this message with details on how to confirm your profile. Thanks for entering, and good luck!