.field_with_errors input{
    background: #FFEDEF !important;
}

*{
    margin:0px;
    padding:0px;
}

body{
    color:#444444;
    font-size:13px;
    background: #000;
    font-family:"Century Gothic", Helvetica, sans-serif;
}
#container{
    margin:15px auto;
    text-align:center;
    width:620px;
    position:relative;
    height:100%;
}

.user_nav {
    margin-left:375px;
}

.form-wrapper {
    margin-left:150px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.form-wrapper, .alert, .notice{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:620px;
    overflow:hidden;
}

.alert {
    color: #fff;
    margin: 10px 110px;
    background: #c00;
    font-size: 16px;
    padding: 16px;
    width: 588px;
    text-align:left;
}

.notice {
    color: #fff;
    margin: 10px 110px;
    background: #009900;
    font-size: 16px;
    padding: 16px;
    width: 588px;
    text-align:left;
}

#steps{
    width:620px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
    float:left;
    width:620px;
	/*height:320px;*/
}
#navigation{
    height:45px;
    background-color:#e9e9e9;
    margin-bottom:20px;
}
#navigation ul{
    list-style:none;
	float:left;
	margin-left:23px;
}
#navigation ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 2px;
}
#navigation ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
}
#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:610px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}

#steps form.registration legend{
    display:none;
}
#steps form p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
	text-align: justify;
}

#steps form p a:link, #steps form p a:visited {
    color:#c00;
    text-decoration: none;
}

#steps form p a:hover, #steps form p a:active {
    color:#c00;
    text-decoration: underline;
}

#steps form p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
    float:left;
}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button,#steps form input[type="submit"] {
	border:none;
	outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #000;
    display: block;
    cursor:pointer;
    margin: 0px 136px;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #fff;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:22px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#fff000;
    width: 135px;
}

#steps form input[type="submit"]:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
#steps form input[type="checkbox"] {
    width: auto;
    margin: 3px 6px 0px 0px;
}

#steps form select {
    margin-top:5px;
}

.left {
    text-align:left;
}
.next-button {
	float:right;
	border:none;
	outline:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 10px 96px;
    clear:both;
    padding: 5px 10px;
    text-shadow: 0 1px 1px #fff;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:16px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#fff000;
	text-decoration:none;

}

.next-button:link, .next-button:visited {
    color:#202020;
}

.next-button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    text-decoration:none;
}

.radios {
	float:left;
	margin-top:6px;
}

.radios ~ input{
    margin-top:6px;
}


#steps .smaller-line {
    line-height:18px;
}

.radios input[type="radio"]{
    margin-right:10px;
}

.hidden {
    display:none !important;
}

.user_nav a{
    color:#F0F0F0;
    text-decoration:none;
}

.header {
    margin-bottom:5px;
}

.top-margin {
    margin-top: 15px;
}

label {
    text-transform: capitalize;
}

p input + span {
    padding-left: 5px;
}

.red {
    color:#cc0000;
}

.home-message {
    margin: 20px;
}

.message {
    padding-top:8px;
    float:right;
}

select.small {
    width:60px !important;
}

#recaptcha_widget_div {
    float:left;
    margin-top:20px;
    margin-left:150px;
}

.right {
    float:right;
}

.float-left {
   float:left;
}

.ajax-loading {
    background:url('../images/spinner.gif') no-repeat 95% 50% !important;
}

.recaptcha_error {
    display:none;
}

.voting-container {
    margin:20px 86px;
    clear:both;
}


.voting-container ul li {
    float:left;
    list-style-type:none;
    background-color:yellow;
    border-left:2px solid #000;
    border-right:2px solid #000;
    border-top:4px solid #000;
    border-bottom:4px solid #000;
    width:40px;
    margin-top:10px;
    line-height:40px;
}

.voting-container ul li:first-child, .voting-container ul li:last-child {
    border-left:4px solid #000;
    border-right:4px solid #000;
    line-height:60px;
    margin-top:0px;
}

.voting-container ul li:first-child + li {
    border-left:0px;
}

.voting-container ul li:first-child + li + li + li + li + li + li + li + li {
    border-right:0px;
}

.voting-container ul li a {
    color:#000;
    display:block;
    text-decoration:none;
}

.big-picture {
    margin-top: 100px;
    margin-bottom: 15px;
}

.small-pictures {
    cursor:pointer;
}

.share-links {
    margin-top:15px;
    margin-left:15px;
}
