- content_for :main_class do
	= "welcome"

#content
	.info1
		Welcome to the
		%span.yellow
			Sullen Art Collective's Miss UPROAR 2011
		model search, hosted by
		%span.yellow
			Daisy de la Hoya
		from VH1's "Daisy of Love" and Sullen Angel Bernadette Macias, looking for the hottest women in North America!
		%br
		%br
		Each woman entering will create an online profile in hopes of becoming 1 of the top 8, who will compete LIVE on stage at their city's stop on the
		%span.yellow
			Rockstar Energy Drink UPROAR Festival
		. The winners of each local tour date will be narrowed down to 3 national finalists who will be flown to Los Angeles where they will participate in a photo and video shoot with photographer David Heisler, stylist Sarah Ellis and hair/makeup artist Elizabeth LaGue.  Finally the top 3 will walk-off at the red carpet finalist event where one contestant will win the grand prize, being crowned the
		%span.yellow
			Sullen Art Collective's Miss UPROAR 2011
		!
		%br
		%br
	.info2
		Grand Prize:
		%br
		In addition to gaining the title of
		%span.yellow
			Sullen Art Collective's Miss UPROAR 2011
		, the grand prize winner will become a Sullen Angel, have the portfolio and career building opportunity of being featured in a Sullen Art Collective and a Rockstar Energy Drink ad campaign.
		%span.yellow
			Sullen Art Collective's Miss UPROAR 2011
		will also win Sullen product, a year supply of Rockstar Energy Drinks, and much more!
		%br
		%br
		If you are at least 21 years of age and would like to enter the contest, click here to create an online profile and get started.
		= link_to new_member_registration_path(ssl_options) do
		#button

