#info
  Welcome to the 2011 Miss UPROAR model search! We are searching for the hottest women across the country to represent the
  = link_to "Rockstar Energy Drink UPROAR Festival", "http://www.rockstaruproar.com"
  We will choose a winner in each tour market, and one grand prize winner that will be crowned
  %span.yellow
    Miss UPROAR 2011.
  %br
  %br
  Grand Prize includes:
  %br
  Title of
  %span.yellow
    Miss UPROAR 2011
  , inclusion in a Rockstar Energy Drink advertising campaign, cash, product, and more!
  %br
  %br
  Just click on the button below to get started!
  = link_to new_member_registration_path do
    #button

