.copyContent	
	%h1.pageTitle
		SULLEN ART COLLECTIVE'S MISS UPROAR CONTEST
		%br
		Official Rules
	%br
	%h2
		NO PURCHASE NECESSARY. A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING.
	%span.yellow
		1. Eligibility: 
	Sullen Art Collectives Miss Uproar (the “Contest”) is open only to legal female residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old at the time of entry and who did not purchase any equipment for the purposes of entering this Contest. Employees of Sullen Art Collective (“Sponsor”), Administrator, (collectively, “Promotional Partners”), and their parent entities, subsidiaries and affiliated companies, advertising, promotion, or production agencies, Web masters and Web suppliers, any companies who are promotional participants or prize providers, and any companies who are performing work for Sullen Art Collective at the request of Sullen Art Collective (and their respective IRS dependents, immediate family members [children, spouse, parents, siblings] and individuals residing in their same household) are not eligible to participate. The Contest is subject to all applicable federal, state, and local laws and regulations and is void in Puerto Rico and where prohibited.
	%br
	%br
	%span.yellow
		2. Sponsor: 
	Sullen Art Collective, 16291 Gothard Street, Huntington Beach, CA 92647-3612.
	%br
	%br
	%span.yellow
		3. Agreement to Official Rules: 
	Participation in this Contest constitutes entrant’s full and unconditional agreement to these Official Rules and Sponsor’s decisions, which are final and binding in all matters related to this Contest. Winning a prize is contingent upon fulfilling all requirements set forth herein.
	%br
	%br
	%span.yellow
		4. Timing:
	The Contest begins on July 14, 2011 at 8:00 a.m. Central Time ("CT"), ends on October 24, 2011 at 11:59 p.m. CT (the "Contest Period") and consists of four (4) phases based on local market (each a “Local Market”) as set forth in the chart below.
	%table
		%tr
			%td
				LOCAL MARKET 
				%br
				&amp; VENUE
			%td
				SUBMISSION DEADLINE
				%br
				(11:59 p.m. CT)
			%td
				PHASE 1 FAN VOTING ENDS AT
				%br
				(11:59 p.m. CT)
			%td
				LOCAL FINALIST NOTIFICATION
				%br
				ON/AROUND
			%td
				LOCAL MARKET
				%br
				TOUR DATE
		%tr
			%td
				Camden, NJ
				%br
				Susquehanna Bank Center
			%td
				8/5/11
			%td
				8/10/11
			%td
				8/12/11
			%td
				8/26/11
		%tr
			%td
				Scranton, PA
				%br
				Toyota Pavilion
			%td
				8/6/11
			%td
				8/11/11
			%td
				8/12/11
			%td
				8/27/11
		%tr
			%td
				Boston, MA
				%br
				Comcast Center
			%td
				8/7/11
			%td
				8/12/11
			%td
				8/15/11
			%td
				8/28/11
		%tr
			%td
				Washington, DC
				%br
				Jiffy Lube Live
			%td
				8/10/11
			%td
				8/15/11
			%td
				8/17/11
			%td
				8/31/11
		%tr
			%td
				Virginia Beach, VA
				%br
				Verizon Wireless Amphitheatre
			%td
				8/11/11
			%td
				8/16/11
			%td
				8/18/11
			%td
				9/1/11
		%tr
			%td
				Tampa, FL
				%br
				1-800-ASK-GARY Amphitheatre
			%td
				8/13/11
			%td
				8/18/11
			%td
				8/19/11
			%td
				9/3/11
		%tr
			%td
				Biloxi, MS
				%br
				Mississippi Coast Coliseum
			%td
				8/14/11
			%td
				8/19/11
			%td
				8/22/11
			%td
				9/4/11
		%tr
			%td
				Houston, TX
				%br
				Cynthia Woods Mitchell Pavilion
			%td
				8/15/11
			%td
				8/20/11
			%td
				8/22/11
			%td
				9/5/11
		%tr
			%td
				Detroit, MI
				%br
				DTE Energy Music Centre
			%td
				8/19/11
			%td
				8/24/11
			%td
				8/26/11
			%td
				9/9/11
		%tr
			%td
				Buffalo, NY
				%br
				Darien Lake Performing Arts Center
			%td
				8/20/11
			%td
				8/25/11
			%td
				8/26/11
			%td
				9/10/11
		%tr
			%td
				Hartford, CT
				%br
				The Comcast Theatre
			%td
				8/21/11
			%td
				8/26/11
			%td
				8/29/11
			%td
				9/11/11
		%tr
			%td
				Pittsburgh, PA
				%br
				First Niagara Pavilion
			%td
				8/26/11
			%td
				8/31/11
			%td
				9/2/11
			%td
				9/16/11
		%tr
			%td
				Indianapolis, IN
				%br
				Verizon Wireless Amphitheatre
			%td
				8/27/11
			%td
				9/1/11
			%td
				9/2/11
			%td
				9/17/11
		%tr
			%td
				Chicago, IL
				%br
				First Midwest Bank Pavilion
			%td
				8/28/11
			%td
				9/2/11
			%td
				9/5/11
			%td
				9/18/11
		%tr
			%td
				Cleveland, OH
				%br
				Blossom Music Center
			%td
				8/31/11
			%td
				9/5/11
			%td
				9/7/11
			%td
				9/21/11
		%tr
			%td
				Omaha, NE
				%br
				WestFair Amphitheater
			%td
				9/2/11
			%td
				9/7/11
			%td
				9/9/11
			%td
				9/23/11
		%tr
			%td
				Kansas City, MO
				%br
				Sandstone Amphitheater
			%td
				9/3/11
			%td
				9/8/11
			%td
				9/9/11
			%td
				9/24/11
		%tr
			%td
				St. Louis, MO
				%br
				Verizon Wireless Amphitheatre
			%td
				9/4/11
			%td
				9/9/11
			%td
				9/12/11
			%td
				9/25/11
		%tr
			%td
				Seattle, WA
				%br
				White River Amphitheatre
			%td
				9/10/11
			%td
				9/15/11
			%td
				9/16/11
			%td
				10/1/11
		%tr
			%td
				Spokane, WA
				%br
				Spokane Arena
			%td
				9/11/11
			%td
				9/16/11
			%td
				9/19/11
			%td
				10/2/11
		%tr
			%td
				Salt Lake City, UT
				%br
				USANA Amphitheater
			%td
				9/13/11
			%td
				9/18/11
			%td
				9/20/11
			%td
				10/4/11
		%tr
			%td
				Denver, CO
				%br
				Comfort Dental Amphitheater
			%td
				9/14/11
			%td
				9/19/11
			%td
				9/21/11
			%td
				10/5/11
		%tr
			%td
				Albuquerque, NM
				%br
				Journal Pavilion
			%td
				9/16/11
			%td
				9/21/11
			%td
				9/23/11
			%td
				10/7/11
		%tr
			%td
				Phoenix, AZ
				%br
				Ashley Pavilion
			%td
				9/17/11
			%td
				9/22/11
			%td
				9/23/11
			%td
				10/8/11
		%tr
			%td
				San Diego, CA
				%br
				Cricket Amphitheatre
			%td
				9/19/11
			%td
				9/24/11
			%td
				9/26/11
			%td
				10/9/11
		%tr
			%td
				Sacramento, CA
				%br
				Sleep Train Amphitheatre
			%td
				9/22/11
			%td
				9/27/11
			%td
				9/29/11
			%td
				10/13/11
		%tr
			%td
				San Francisco, CA
				%br
				Shoreline Amphitheater
			%td
				9/23/11
			%td
				9/28/11
			%td
				9/29/11
			%td
				10/14/11
	%br
	Sponsor's computer is the official time-keeping device for the Contest.
	%br
	%br
	%span.yellow
		5. How to Enter:
	Visit www.rockstaruproar.com/missupoar (the “Site”), and follow the links and instructions to select a Local Market (as listed in the chart above) and complete the registration information. You must provide all information requested including three (3) recent and different photographs of yourself in JPEG format, (the "Submitted Photographs") including headshot & full body bikini using the upload tool and instructions provided. No photos with nudity will be permitted. Only the Entrant (defined below) should appear in the Submitted Photographs. 
	%strong
		All photos must be at least 500 K in size and must not infringe or violate any right of any third party or entity, including but not limited to copyright, right of publicity, and right of privacy. Please be sure to retain the original photographs, as Semi-Finalists may be required to submit the Submitted Photographs in greater resolution. 
	Once the upload is finished and the entry form completed in its entirety, you can finalize your entry into the Competition by clicking submit. Upon successful entry, a confirming email will be sent to the email address you provided. 
	%strong
		Note: 
	Notwithstanding entrant’s registration form indicating proximity to a particular Local Market closest to the entrant’s residence, Sponsor reserves the right to determine, in its sole discretion, which Local Market an entrant will be placed based on entrant’s geographic proximity to one of the Local Market cities.  By uploading your Submission, you agree that your Submission conforms to the Photo Guidelines and Content Restrictions as defined below (collectively, the “Guidelines and Restrictions”) and that Sponsor, in its sole discretion, may remove your Submission and disqualify you from the Contest if it believes that your Submission fails to conform to the Guidelines and Restrictions.
	%br
	%br
	%strong
		Photo Guidelines:
	%ul
		%li
			Each entrant must submit a total of three (3) recent and different photographs of themselves in .JPG or .PNG format, including headshot and full body bikini using the upload tool and instructions provided.
		%li
			All photos must be at least 500k in size.
		%li
			Only the entrant should be in the photographs.
		%li
			No photographs taken prior to 1 year from date of entry.
		%li
			Any submitted photographs exhibiting entrant’s nipples or genitals will be rejected. The determination of whether any image exhibits entrant’s nipples or genitals is at the sole discretion of Sponsor.
	%br
	%strong
		Content Restrictions:
	%ul
		%li
			The Entrant’s photographs may not infringe upon the copyrights, trademarks, rights of privacy, publicity, or any other intellectual property or legal or moral rights of any third party, living or deceased (e.g., names, logos, symbols, slogans, images that belong to others, images of other people, quotes from other people, or parodies of other people);
		%li
			The Submission must not disparage Sponsor, Administrator, Promotional Participants or any other person or party affiliated with the Contest;
		%li
			The Submission must not contain brand names or trademarks other than those owned by Sponsor, which entrant has a limited license to use to incorporate in his/her Submission in this Contest;
		%li
			The Submission must be non-confidential;
		%li
			The Submission must not contain material that is inappropriate, indecent, obscene, hateful, tortious, defamatory, slanderous or libelous;
		%li
			The Submission must not feature gratuitous violence, dangerous stunts, real weapons of any kind, drug use, material that is hateful or defamatory, slanderous or libelous, or that promotes bigotry, racism or harm against a group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and
		%li
			The Submission must not contain material that is unlawful, in violation of or contrary to the laws or regulations in any state where Submission is created.
	%br
	%h2
		Any entrant who becomes a Semi-Finalist (defined below), Finalist (defined below), or Grand Prize Winner (defined below) must agree not to sign or become bound by a modeling or similar contract with a modeling company or other third party who represents more than one model prior to November 1, 2011.
	%br
	%br
	%span.yellow
		Limit: Each entrant may upload one (1) Submission by the applicable Submission deadline (as listed in the chart above). 
	Submissions received from any person or email address in excess of the stated limit will be void. Submissions generated by script, macro or other automated means are void.  Uploading a Submission constitutes entrant’s consent to give Sponsor a royalty-free, irrevocable, perpetual, non-exclusive license to use, reproduce, modify, publish, create derivative works from, and display such submissions in whole or in part, on a worldwide basis, and to incorporate it into other works, in any form, media or technology now known or later developed, including for promotional or marketing purposes, without further payment, notification, permission or other consideration.  If requested, entrant will sign any documentation that may be required for Sponsor or its designees to make use of the non-exclusive rights entrant is granting to use the Submission.  You acknowledge that, by entering your Submission, Sponsor does not waive any rights to use similar or related ideas previously known to Sponsor, or developed by its employees, or obtained from sources other than you. Sponsor is not responsible for the content of the Submission.  You are solely responsible for the content of your Internet Entry. Posting of a Submission on the Site is not verification that the Submission is a qualifying entry. Before being judged, all Submissions will be reviewed for content. Sponsor makes the final determination as to what submissions are eligible to take part in the Contest. All submissions are subject to administrative approval.  Released Parties (as defined in Section 9, below) are not responsible for lost, late, stolen, damaged, incomplete, invalid, un-intelligible, garbled, delayed or misdirected Submissions; all of which will be void.
	%br
	%br
	In the event of a dispute as to any Submission, the authorized account holder of the email address used to register will be deemed to be the entrant and must comply with these Official Rules.  The "authorized account holder" is the natural person assigned an email address by an Internet access provider, online service provider or other organization responsible for assigning email addresses for the domain associated with the submitted address. Each entrant may be required to show proof of being an authorized account holder.
	%br
	%br
	%span.yellow
		6. Winner Determination: 
	Winners will be determined according to the process set forth below. 
	%br
	%br
	%span.yellow
		Local Market Finalist Determination: 
	After upload on the Site, each Submission will be available for fan (each a “Fan”) voting.  Persons who are legal residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old at the time of entry will be eligible to register as a Fan on the Site and vote for the Submission they believe has the most public appeal. Sponsor will, in its sole discretion, select Local Market Finalists among the Entrants (herein "Selected Entrants") based the following criteria (“Judging Criteria”) upon their evaluation of the Entrants' attractiveness and photogenic qualities (50%), fan voting and self promotion (25%), & quality of the contestants answers to the questionnaire (25%).
	%br
	%br
	Selected Entrants may be required to provide additional information or proof of copyright ownership, in Sponsor’s sole discretion. Sponsor reserves the right to contact an Entrant for any reason relating to the Competition. Each vote each Submission gains will also go towards that Submission’s score in the Fan Voting and Self Promotion category of the Judging Criteria, as listed above.  
	%strong
		Limit: Each Fan may vote one (1) time per day until the applicable Fan Voting end date (as listed in the chart above). 
	Multiple votes received from any person or email address in excess of the stated number will be void.  Entrants are prohibited from obtaining votes by any fraudulent or inappropriate means, including, without limitation, offering prizes or other inducements to members of the public, as determined by Sponsor in its sole discretion. 
	%br
	%br
	Sponsor will choose 8 Local Market Finalists to compete in the Semi-Finalist Phase based on the Judging Criteria above.
	%br
	%br
	%span.yellow
		Proof of Citizenship & Age Requirements: 
	All Local Market Finalists will be required to attach copies of two (2) forms of identification. At least one of the forms of identification must be a valid government-issued ID that includes a photograph of the Semi-Finalist and her date of birth (such as a driver's license, passport, or state identification card). The other form of identification must verify the Semi-Finalist's identity (such as a school or employer identification card, Social Security card, or birth certificate).
	%br
	%br
	All of the above-referenced materials, and all other materials/forms requested in accordance with these Official Rules, must be returned to Sullen at the following address (Sullen Clothing, Attn: Sullen Angel Cyber Search 2011, 16291 Gothard Street, Huntington Beach, CA 92647-3612) [should these be returned electronically?] so as to be received by the deadline requested by Sullen, or Entrant may be disqualified. 
	%strong
		THE RETURN OF ALL REQUIRED DOCUMENTATION IN A TIMELY MANNER IS THE RESPONSIBILITY OF THE LOCAL MARKET FINALISTS; LOCAL MARKET FINALISTS WHO DO NOT RETURN ALL REQUIRED DOCUMENTATION IN A TIMELY MANNER WILL BE DISQUALIFIED.
	%br
	%br
	%span.yellow
		Semi-Finalist Determination: 
	The eight (8) Local Market Finalists, chosen by Sponsor with the Judging Criteria detailed above will move on to the Semi-Finalist phase.  All 8 Local Market Finalists will be featured on the Sponsor’s Facebook page http://www.facebook.com/sullenfamily.  Fans will be able to vote for the Local Market Finalist with the most public appeal. Fans must be registered Facebook users and abide by all Facebook rules and guidelines as detailed here http://www.facebook.com/terms.php. Fan voting on the Sponsor’s Facebook page, http://www.facebook.com/sullenfamily, will continue until 5pm local time on each Local Market tour date, see here for a full list of dates http://rockstaruproar.com/tour-dates/.  All eight (8) Local Market Finalists are required to attend the “Live Show” portion of the judging phase.  The “Live Show” portion will take place at each Local Market tour date http://rockstaruproar.com/tour-dates/. 
	%strong
		All expenses, travel and any other cost associated with attending the “Live Show” portion at the Local Market tour dates are solely the responsibility of the Finalists. 
	All traveling Local Market Finalists must execute a Release of Liability prior to ticketing and must possess required travel documents (such as valid photo identification) prior to departure. If any Local Market Finalist is not able to attend the Local Market Finalist Performance as designated by Sponsor, such Finalist shall be disqualified and the Alternate Finalist awarded the space in the applicable “Live Show” judging phase.
	%br
	%br
	After the Fan Voting conclusion for each Local Market, a panel of qualified judges determined by Sponsor in its sole discretion will select one (1) Semi-Finalist for each Local Market (the "Semi-Finalists") from among all Local Market Finalists based on the following criteria (“Judging Criteria”), stage presence and self confidence (25%), attractiveness and photogenic qualities (50%) and questionnaire responses (25%).
	%br
	%br
	In the event of a tie, the Local Market Finalist whose Submission received the highest score for attractiveness and photogenic qualities, as determined by the qualified judges, in their sole discretion, will be deemed the applicable Semi-Finalist.  Sponsor reserves the right to not select a Semi-Finalist in any Local Market, if, in its sole discretion, it does not receive a sufficient number of eligible and qualified Submissions.  The next highest-scoring Submission will be deemed the Alternate Finalist, and may be deemed as the Local Market Finalist in the event that the initially selected Local Market Finalist is disqualified or not able to participate for any reason.
	%br
	%br
	%span.yellow
		Grand Prize Winner Judging and Selection: 
	Three (3) potential Finalists (“Finalist”) will be selected from the twenty-seven (27) (this number is if we do not do this in CANADA) Semi-Finalists to compete in the Finalist Event (“Finalist Event”) at the House of Blues in Los Angeles, CA on November 4, 2011. Each Finalist will be Subject to the Finalist’s compliance with these Official Rules.  A panel of qualified judges determined by Sponsor in its sole discretion will select the potential Grand Prize Winner based on an application of the following Judging Criteria, [need Grand Prize Judging Criteria], with the exception of the Fan Voting category which will not be considered as part of the Grand Prize winner determination.  Finalists and Grand Prize Winner may be disqualified at the Sponsors’ sole discretion at any time during the Contest if any Finalist or Winner has been convicted of, or is under indictment for, any criminal act, or if any Finalist or Winner takes action against Sponsor or makes disparaging statements about Sponsor or its products.  All entrants selected as Finalists and Grand Prize Winners will be required to sign Sponsor's agreements, not inconsistent with these Rules, before being permitted to attend the Finalist Event. 
	%br
	%br
	%span.yellow
		7. Winner Requirements: 
	Potential Local Market Finalist winners will be notified by email or phone on or around the dates listed in the chart above in Section 4, and the potential Finalists will be notified by email or phone on or around October 25, 2011.  Except where prohibited, each potential Finalist and Alternate Finalist entrants and Grand Prize winner member will be required to sign and return a signed and notarized Eligibility Affidavit & Release of Liability/Publicity Release Form (hereinafter “Affidavit & Release”), which must be received by Sponsor within three (3) days of the date notice or attempted notice is sent, in order to claim her standing and associated prize.  Failure of any Finalist or Alternate Finalist to complete and return an Affidavit & Release will result in disqualification of the Finalist or Alternate Finalist, and an Alternate Finalist will be selected.  The Affidavit & Release will be sent to the Primary Contact for the Finalists and Alternate Finalists via email to the email address submitted upon Contest entry. In order to be eligible for any prizes the Affidavit & Release requires all Finalists and Alternate Finalists to agree to participate in all phases of the Contest and in any public relations events for the Contest. 
	%strong
		The failure to return the signed and notarized Affidavit & Release within three (3) business days of receipt, or the return of any documents as undeliverable, or finding that a potential winner is ineligible or not in compliance with these Rules will result in the disqualification of all band members from the Contest. 
	If documents are not returned on a timely basis, or if prize or prize notification is returned as non-deliverable, or if a potential winner is found to be ineligible or not in compliance with these Official Rules, such prize will be forfeited and, at Sponsor’s discretion, awarded to an alternate winner, provided sufficient time remains to verify alternate winner, otherwise prize will not be awarded.  By signing the Affidavit & Release, each Finalist warrants and certifies, among other things, that (1) they are in compliance with the Rules, (2) photos submitted were not more than 1 year old at time of submission, and (3) within the last three (3) years no entrant have signed or been bound by a modeling or similar contract with a modeling company.  Acceptance of any prize shall constitute and signify each winner’s agreement and consent that Sponsor and its designees may use the winner’s name, city, state, likeness, photo, Submission and/or prize information in connection with the Contest for promotional, advertising or other purposes, worldwide, in any and all media now known or hereafter devised, including the Internet, without limitation and without further payment, notification, permission or other consideration, except where prohibited by law.  Without limiting the generality of these Official Rules, each winner shall irrevocably grant, transfer, convey and assign to Sponsor the entirety of the rights in and to the Submission and all renewals and extensions of copyright, and the right to secure copyright registrations thereto in perpetuity including, without limitation, the rights to use the Submission for any and all purposes in any and all media whether now known or hereafter developed, on a worldwide basis, in perpetuity. Each winner accepts and acknowledges that Sponsor shall not be obligated to use the Submission and that Sponsor in its sole discretion shall have the right to refrain from using the Submission. Sponsor shall not incur any liability whatsoever to the extent Sponsor chooses to refrain from any exploitation of its rights hereunder. Each winner will indemnify Sponsor, Released Parties (as defined in Section 9, below) and any licensee of Sponsor against all claims, damages, liabilities, and expenses (including reasonable counsel fees and legal expenses) arising out of any breach or alleged breach of these terms or your conduct in creating your entry or otherwise in connection with this Competition.   
	%br
	%br
	%span.yellow
		8. Prizes: ONE (1) GRAND PRIZE: 
	The opportunity to be chosen as the Grand Prize Winner (“Winner”) in Los Angeles, CA on November 4, 2011 for the three (3) chosen Finalists.  Trip package for the three (3) Finalists includes round trip, coach-class air transportation from a major commercial airport determined by Sponsor in its sole discretion to Los Angeles, CA, four (4) nights accommodations at a hotel determined by Sponsor in its sole discretion (single room) a meal per diem of $35 per day per Finalist; transportation of Finalists, ground transportation to and from airport, hotel, and event venue. [we need to add details on the schedule of Finalists from November 1 – 5]. Finalists must travel on the dates determined by Sponsor in its sole discretion or prize will be forfeited. Notwithstanding the foregoing, Sponsor will make reasonable efforts to select travel times acceptable to Finalists.  Trip subject to availability and blackout dates.  Travel must be round trip.  Sponsor will determine airline and flight itinerary in its sole discretion.  No refund or compensation will be made in the event of the cancellation or delay of any flight.  Travel and accommodations are subject to availability.  Travel is subject to the terms and conditions set forth in this Contest, and those set forth by the Sponsor’s airline carrier of choice as detailed in the passenger ticket contract.  All expenses and incidental travel costs not expressly stated in the package description above, including but not limited to, ground transportation, meals, incidentals, passenger tariffs or duties, airline fees, surcharges, airport fees, service charges or facility charges, personal charges at lodging, security fees, taxes or other expenses are the responsibility solely of Finalists. Finalists must comply with all airport and venue security requirements; or prize will be forfeited in its entirety and may be awarded to an alternate winner, provided sufficient time remains to verify alternate winner and ticket prize, otherwise prize will not be awarded.  Travel restrictions, conditions and limitations may apply.  If in the judgment of Sponsor air travel is not required due to Finalist’s proximity to event location, ground transportation will be substituted for round trip air travel at Sponsor’s sole discretion.  Sponsor will not replace any lost, mutilated, or stolen tickets, travel vouchers or certificates.  Sponsor is not responsible if House of Blues event is delayed, postponed or cancelled for any reason, in which event that portion of prize is forfeited in its entirety and no substitution will be provided except as in Sponsor’s sole discretion.  Approximate Retail Value (“ARV”) for trip portion of Grand Prize: $2,500 per Finalist.  Actual value may vary based on airfare fluctuations and distance between departure and destination.  Winner will not receive difference between actual and approximate retail value.
	%br
	%br
	In addition, Grand Prize Winner will receive [please add details for all Grand Prizes not listed] a pair of Kicker headphones, a travel bag from RockStar Energy Drink, and a one-year supply of RockStar Energy Drink.  The Grand Prize Winner will also be titled “Miss UPROAR” on the 2012 RockStar Energy Drink UPROAR Festival and will be required to make public performances on the 2012 Rockstar Energy Drink UPROAR Festival.  
	%strong
		All expenses, travel, and any other cost associated with performing at the 2012 RockStar Energy Drink UPROAR Festival are solely the responsibility of the Winner. 
	%br
	%br
	Total ARV for Grand Prize:  $XX
	%br
	%br
	%span.yellow
		For all Prizes: 
	Unless otherwise noted, each prize element is limited to a single prize per Winner.  Prize will be awarded to the entrant identified at the time of Submission as the Primary Contact. Prizes are non-transferable and no substitution will be made except as provided herein at the Sponsor’s sole discretion. Sponsor reserves the right to substitute a prize or prize component for one of equal or greater value if the designated prize should become unavailable for any reason.  Winner is solely responsible for all taxes and fees associated with prize receipt and/or use. 
	%br
	%br
	%span.yellow
		9. Release: 
	By receipt of any prize, winners agree to release and hold harmless the Sponsor, Administrator, RockStar Energy Drink, Kicker [add all Promotional Partners here] the producers and judges of any Competition event, their respective parents, subsidiaries, affiliated companies, marketing and other agencies, and their respective directors, officers, employees, agents, licensees and assigns (collectively, “Released Parties”) against any and all claims, liability, losses or damages of any kind to persons, including death, or property without limitation arising out of or in connection with, in whole or in part, directly or indirectly, his or her participation in this Contest or Contest-related activity, or for any injury, including death, or damage caused, or claimed to be caused, by use or redemption of any prize, or for any printing, production, technical, typographical, human or other error in the printing, offering or announcement of any prize.   
	%br
	%br
	%span.yellow
		10. General Conditions: 
	Sponsor reserves the right to cancel, suspend and/or modify the Contest, or any part of it, if any fraud, technical failures or any other factor impairs the integrity or proper functioning of the Contest, as determined by Sponsor in its sole discretion.  If terminated, Sponsor may, in its sole discretion, determine the Winner from among all non-suspect, eligible Submissions received up to time of such action using the judging procedure outlined above.  Sponsor, in its sole discretion, reserves the right to disqualify any individual it finds to be tampering with the Submission process or the operation of the Contest or to be acting in violation of the Official Rules of this or any other promotion or in an unsportsmanlike or disruptive manner and void all associated Submissions.  Any attempt by any person to deliberately undermine the legitimate operation of the Contest may be a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages and other remedies (including attorneys’ fees) from any such person to the fullest extent permitted by law.  Sponsor’s failure to enforce any term of these Official Rules shall not constitute a waiver of that provision. 
	%br
	%br
	%span.yellow
		11. Limitations of Liability: 
	Released Parties are not responsible for: (1) any incorrect or inaccurate information, whether caused by entrant, printing, typographical or other errors or by any of the equipment or programming associated with or utilized in the Contest; (2) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines or network hardware or software; (3) unauthorized human intervention in any part of the Submission process or the Contest; (4) printing, typographical, technical, computer, network or human error which may occur in the administration of the Contest, the uploading, the processing or judging of Submissions or votes or the tabulating of votes, the announcement of the prizes or in any Contest-related materials; (5) late, lost, undeliverable, damaged or stolen mail; or (6) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant’s participation in the Contest or receipt or use or misuse of any prize (including any travel/activity related thereto).  Released Parties are not responsible for misdirected or undeliverable Submissions or for any technical problems, malfunctions of computer systems, servers, providers, hardware/software, lost or unavailable network connections or failed, incomplete, garbled or delayed computer transmission or any combination thereof.  Released Parties are not responsible for any unauthorized third party use of any Submission.
	%br
	%br
	%h2
		IN NO EVENT WILL THE RELEASED PARTIES BE RESPONSIBLE OR LIABLE FOR ANY DAMAGES OR LOSSES OF ANY KIND, INCLUDING DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS TO AND USE OF THE WEB SITEOR DOWNLOADING FROM www.rockstaruproar.com/missuproar AND/OR PRINTING MATERIAL DOWNLOADED FROM www.rockstaruproar.com/missuproar OR ANY OTHER WEB SITE ASSOCIATED WITH THIS COMPETITION.  WITHOUT LIMITING THE FOREGOING, EVERYTHING ON THE WEB SITE IS PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.  SOME JURISDICTIONS MAY NOT ALLOW LIMITATIONS OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED WARRANTIES SO SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. CHECK YOUR LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS REGARDING THESE LIMITATIONS OR EXCLUSIONS.
	%br
	%br
	%span.yellow
		12. Disputes: 
	Except where prohibited, entrant agrees that: (1) any and all disputes, claims and causes of action arising out of or connected with this Contest or any prize awarded shall be resolved individually, without resort to any form of class action, and exclusively by the United States District Court for the Southern District of California (Southern Division) or the appropriate California State Court located in Orange County, CALIFORNIA; (2) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Contest, but in no event attorneys’ fees; and (3) under no circumstances will entrant be permitted to obtain awards for, and entrant hereby waives all rights to claim, indirect, punitive, incidental and consequential damages and any other damages, other than for actual out-of-pocket expenses, and any and all rights to have damages multiplied or otherwise increased.  All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Contest, shall be governed by, and construed in accordance with, the laws of the State of California without giving effect to any choice of law or conflict of law rules (whether of the State of California or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of California.   
	%br
	%br
	%span.yellow
		13. Entrant's Personal Information: 
	By participating in this Contest, you acknowledge and agree that Sponsor may collect the personal information submitted by you, and use the information pursuant to Sponsor’s privacy policy available at [NEED LINK TO SULLEN’S PRIVACY POLICY].  Notwithstanding the foregoing, please note that Sponsor is collecting your personal information solely for the purposes of administering the Contest and sending you communications concerning this and future Contest and Uproar Festivals.  
	%br
	%br
	%span.yellow
		14.  Winner List and Official Rules: 
	For names of Local Market Finalists, visit www.rockstaruproar.com/missuproar between August 12, 2011 and November 11, 2011.  For the name of the Grand Prize Winner, visit www.rockstaruproar.com/missuproar between October 25, 2011 and November 11, 2011.  The Official Rules will be available on [need link to official rules on our site] during the entire Competition from July 14, 2011 through November 11, 2011
	%br
	%br
	All rights reserved.
	
	
	
