.copyContent	
	%h1.pageTitle
		Terms and Conditions
	%br
	%h2
		Overview
	The following are terms of a legal agreement between you and Royalty Staffing. By accessing, logging in to, browsing, or using this Web site, you acknowledge that you have read, understood, and agree to be bound by these terms. You may be required to check a box indicating your assent to these terms. If you do not agree to these terms, please do not use this Web site.
	%br
	%br
	%h2
		IF YOU ARE UNDER 13 YEARS OF AGE, YOU MAY NOT ACCESS THIS WEB SITE. IF YOU ARE UNDER 18 YEARS OF AGE, YOU MAY NOT ACCESS THIS WEB SITE WITHOUT THE EXPRESS CONSENT OF YOUR PARENT OR GUARDIAN.
	%br
	Royalty Staffing may, without prior notice to you, at any time revise these Terms of Use and any other information contained in this Web site by updating this posting. When we post changes to these Terms of Use, we will revise the "Terms of Use Effective Date" at the end of this paragraph. All amended terms automatically take effect as of the current "Terms of Use Effective Date". Royalty Staffing may also make improvements or changes in the products, services, or programs described in this site at any time without notice. Notices to you may be made via either email, regular mail, or by notifications on this Web site. Royalty Staffing may also provide notices of changes to the Terms of Use or other matters by displaying notices or links to notices to you generally on the site. You should visit this page from time to time to review the then-current Terms of Use because they are binding on you. Certain provisions of these Terms of Use may be superseded by expressly designated legal notices or terms located on particular pages at this site. The materials and services at this site may be out of date, and Royalty Staffing makes no commitment to update the materials and services at this site.
	Terms of Use Effective Date: 09/16/2008
	%br
	%br
	You may be accessing this Web site and/or the Services (as defined below) as an employee of Royalty Staffing. If there is any conflict between these Terms of Use and any other agreement you have signed as an employee (e.g., an Employment Agreement) (collectively, "Other Agreements"), those Other Agreements shall control.
	%br
	%br
	%h2
		General
	This Web site contains proprietary notices and copyright information, the terms of which must be observed and followed.
	%br
	%br
	This site and all Content in this site may not be copied, reproduced, republished, uploaded, posted, transmitted, distributed, or used for the creation of derivative works without Royalty Staffing prior written consent, except that Royalty Staffing grants you non-exclusive, non-transferable, limited permission to access and display the Web pages within this site, solely on your computer and for your personal use of this Web site. This permission is conditioned on your not modifying the Content displayed on this site, your keeping intact all copyright, trademark, and other proprietary notices, and your acceptance of any terms, conditions, and notices accompanying the content or otherwise set forth in this site. "Content" includes, without limitation, all information, programs, processes, methodologies, communications, software, scripting, photos, text, video, graphics, sounds, images and other materials and services found on this Web site.
	%br
	%br
	Your failure to comply with the terms, conditions, and notices on this site will result in automatic termination of any rights granted to you, without prior notice, and you must immediately destroy all copies of downloaded materials in your possession or control. Except for the limited permission in the preceding paragraph, Royalty Staffing does not grant you any express or implied rights or licenses under any patents, trademarks, copyrights, or other proprietary or intellectual property rights. You may not mirror any of the content from this site on another Web site or in any other media.
	%br
	%br
	In accessing this Web site you may be using software that is proprietary to Royalty staffing and/or its affiliates ("Software"). Royalty Staffing grants you no rights in the Software other than the rights in relation to other Content on the Web site as discussed above. You may not resell, decompile, reverse engineer, disassemble, or otherwise convert the Software to a perceivable form. You may not download or install the Software until you have read and accepted these Terms of Use.
	%br
	%br
	%h2
		Copyrights, Trademarks and Service Marks
	Unless otherwise noted, all Content and other materials on this Web site and in the Software (this Web site and Software sometimes collectively referred to as "Services") are protected as the copyrights, trade dress, trademarks and/or other intellectual properties owned by Royalty Staffing or by other parties that have licensed their material to Royalty Staffing. The Content and Services are copyrighted and any unauthorized use of the Content and the Services may violate copyright, trademark, and other laws, in addition to being a material breach of the Terms of Use.
	%br
	%br
	There are a number of proprietary logos, service marks, trademarks, slogans and product designations ("Marks") found on the Web site and in the Software. By making these Marks available on this site and in the Software, Royalty Staffing is not granting you a license to use them in any fashion. Access to the Services does not confer upon you any license under any of Royalty Staffings' or any third party's intellectual property rights. Use of Royalty Staffings' proprietary logos, service marks, trademarks, slogans and product designations found on this Web site and in the Software by users is restricted as set forth in the Terms of Use.
	%br
	%br
	Royalty Staffings' trademarks may be used publicly only with prior written permission from Royalty Staffing. Fair use of Royalty Staffings' trademarks in advertising and promotion of Royalty Staffings' products and services requires proper acknowledgment. No Royalty Staffing trademark or service mark may be used as a hyperlink without Royalty Staffings' prior written permission. Other trademarks that may appear in connection with the Services may be owned by third-parties and used with the permission of the third-parties. You also agree not to use those trademarks without the permission of their respective owners.
	%br
	%br
	The various Marks used in connection with the Services represent some of the Marks currently owned or controlled by Royalty Staffing or under license to Royalty Staffing. The display of these marks and of notices associated with these marks is not intended to be a comprehensive compilation of all Royalty Staffing worldwide proprietary ownership rights, and Royalty Staffing may own or control other proprietary rights in one or more countries outside of the United States.
	%br
	%br
	%h2
		User Submissions
	Your use of the Services may result in your sending of various types of information to Royalty Staffing. Royalty Staffings' handling of such information is governed by the Royalty Staffing Privacy Statement to which you agree when you accept these Terms of Use. If you do not accept the Privacy Statement or these Terms of Use, do not use the Services. Royalty Staffing reserves the right to disclose, read, access, and preserve any information received from you by your using the Services as Royalty Staffing reasonably believes is necessary to (i) enforce these Terms of Use; (ii) prevent, deter, or defend against any type of fraud or misrepresentation; (iii) comply with applicable law; (iv) provide customer support; and (v) protect the property and other rights of Royalty Staffing Strategies, its employees, and its consumers.
	%br
	%br
	Royalty Staffing does not solicit, but may accept, any product or process ideas, innovations suggestions, improvements or other user submissions, with the understanding that all remarks, suggestions, ideas, innovations, graphics, materials, information, data, concepts, submissions or other communications, including Requests for Proposal you transmit or post to the Web site and/or to Royalty Staffing using the Services (together, the "Communications") are assigned to, and will forever be the property of, Royalty Staffing without any further compensation or other benefit to the user submitting such Communications. Other than personally identifiable information, which is covered under the Royalty Staffing Privacy Statement, any Communications will be considered non-confidential and non-proprietary. Royalty Staffing will not be liable for any ideas for its business (including without limitation, product, or advertising ideas) and will not incur any liability as a result of any similarities that may appear in future Royalty Staffing operations. Royalty Staffing will have exclusive ownership of all present and future existing rights to the Communications of every kind and nature everywhere.
	%br
	%br
	For any Communications that cannot be legally assigned to Royalty Staffing, you hereby grant Royalty Staffing and its designees an unrestricted, perpetual, royalty-free, irrevocable license to use, reproduce, display, perform, modify, transmit and distribute the Communications for any and all commercial or non-commercial purposes, and agree that Royalty Staffing is free to use any ideas, concepts, know-how or techniques that you send Royalty Staffing for any purpose whatsoever without compensation to you or any other person sending the Communication. In addition, you warrant that all so-called "moral rights" with respect to the Communication have been waived.
	%br
	%br
	You are prohibited from using the Services to post, transmit, communicate, and/or deliver, to Royalty Staffing or other users, any unlawful, threatening, libelous, defamatory, obscene, pornographic, or any other material that would violate any law, or that could give rise to any civil or criminal liability under the law.
	%br
	%br
	%h2
		Certain Disclaimers
	Information on this Web site is not promised or guaranteed to be correct, current, or complete, and this site may contain technical inaccuracies or typographical errors. Royalty Staffing assumes no responsibility (and expressly disclaims responsibility) for updating this site to keep information current or to ensure the accuracy or completeness of any posted information. Accordingly, you should confirm the accuracy and completeness of all posted information before making any decision related to any services, products, or other matters described in this site.
	%br
	%br
	Royalty Staffing provides no assurances that any reported problems will be resolved by Royalty Staffing, even if Royalty Staffing elects to provide information with the goal of addressing a problem.
	%br
	%br
	%h2
		Global Availability
	Information Royalty Staffing publishes on the World Wide Web may contain references or cross references to Royalty Staffing products, programs and services that are not announced or available in your country. Such references do not imply that Royalty Staffing intends to announce or make available such products, programs, or services in your country. Please consult your local Royalty Staffing business contact for information regarding the products, programs, and services that may be available to you.
	%br
	%br
	%h2
		Business Relationships
	This Web site may provide links or references to non-Royalty Staffing Web sites and resources. Royalty Staffing makes no representations, warranties, or other commitments whatsoever about any non-Royalty Staffing Web sites or third-party resources that may be referenced, accessible from, or linked to any Royalty Staffing site. A link to a non-Royalty Staffing Web site does not mean that Royalty Staffing endorses the content or use of such Web site or its owner. In addition, Royalty Staffing is not a party to or responsible for any transactions you may enter into with third parties, even if you learn of such parties (or use a link to such parties) from an Royalty Staffing site. Accordingly, you acknowledge and agree that Royalty Staffing is not responsible for the availability of such external sites or resources, and is not responsible or liable for any content, services, products, or other materials on or available from those sites or resources.
	%br
	%br
	When you access a non-Royalty Staffing Web site, even one that may contain the Royalty Staffing-logo, please understand that it is independent from Royalty Staffing, and that Royalty Staffing does not control the content on that Web site. It is up to you to take precautions to protect yourself from viruses, worms, trojan horses, and other potentially destructive programs, and to protect your information as you deem appropriate.
	%br
	%br
	%h2
		Linking to This Site
	All links to this Web site must be approved in writing by Royalty Staffing, except that Royalty Staffing consents to links in which the link and the pages that are activated by the link do not: (a) create frames around any page on this Web site or use other techniques that alter in any way the visual presentation or appearance of any content within this site; (b) misrepresent your relationship with Royalty Staffing; (c) imply that Royalty Staffing approves or endorses you, your Web site, or your service or product offerings; and (d) present false or misleading impressions about Royalty Staffing or otherwise damage the goodwill associated with the Royalty Staffing name or trademarks. As a further condition to being permitted to link to this site, you agree that Royalty Staffing may at any time, in its sole discretion, terminate permission to link to this Web site. In such event, you agree to immediately remove all links to this Web site and to cease using any Royalty Staffing trademark.
	%br
	%br
	%h2
		Translations
	Certain text in this Web site may be made available in languages other than English. Text may be translated by a person or solely by computer software with no human intervention or review. These translations are provided as a convenience to you, and Royalty Staffing makes no representations or commitments regarding the accuracy or completeness of the translation, whether or not computer-generated or performed by a person. Please see the below Disclaimer of Warranty for additional conditions.
	%br
	%br
	%h2
		Disclaimer of Warranty
	USE OF THIS SITE IS AT YOUR SOLE RISK. ALL MATERIALS, INFORMATION, PRODUCTS, SOFTWARE, PROGRAMS, AND SERVICES ARE PROVIDED "AS IS," WITH NO WARRANTIES OR GUARANTEES WHATSOEVER. EVENTPRO STRATEGIES EXPRESSLY DISCLAIMS TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED, STATUTORY, AND OTHER WARRANTIES, GUARANTEES, OR REPRESENTATIONS, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT OF INTELLECTUAL PROPERTY. WITHOUT LIMITATION, ROYALTY STAFFING MAKES NO WARRANTY OR GUARANTEE THAT THIS WEB SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE.
	%br
	%br
	ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL, OR USE OF THE SERVICES. INFORMATION PUBLISHED AT THIS WEB SITE MAY REFER TO PRODUCTS, PROGRAMS OR SERVICES THAT ARE NOT AVAILABLE IN YOUR GEOGRAPHIC LOCATION.
	%br
	%br
	THE INFORMATION PRESENTED ON THIS WEB SITE OR BROADCAST FROM THIS WEB SITE WITH SOFTWARE BY ROYALTY STAFFING FROM ROYALTING STAFFING PUBLICATIONS, WRITINGS AND/OR THIRD PARTY BOOKS OR WRITINGS IS FOR INFORMATION PURPOSES ONLY AND IS NOT MEANT TO SERVE AS A SUBSTITUTE FOR PROFESSIONAL LEGAL OR FINANCIAL ADVICE WHICH SHOULD BE OBTAINED THROUGH CONSULTATION WITH APPROPRIATE PROFESSIONALS IN YOUR STATE.
	%br
	%br
	SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
	%br
	%br
	%h2
		Limitation of Liability
	IN NO EVENT WILL ROYALTY STAFFING BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY TYPE WHATSOEVER RELATED TO OR ARISING FROM THIS WEB SITE OR ANY USE OF THIS WEB SITE, OR OF ANY SITE OR RESOURCE LINKED TO, REFERENCED, OR ACCESSED THROUGH THIS WEB SITE, OR FOR THE USE OR DOWNLOADING OF, OR ACCESS TO, ANY MATERIALS, INFORMATION, PRODUCTS, OR SERVICES, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOST SAVINGS OR LOSS OF PROGRAMS OR OTHER DATA, EVEN IF EVENTPRO STRATEGIES IS EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS EXCLUSION AND WAIVER OF LIABILITY APPLIES TO ALL CAUSES OF ACTION, WHETHER BASED ON CONTRACT, WARRANTY, TORT, OR ANY OTHER LEGAL THEORIES.
	%br
	%br
	%h2
		Additional Terms
	Applicable Laws. Royalty Staffing from its offices within the United States of America controls the Services. Royalty Staffing makes no representation that the Content in the Services is appropriate or available for use in locations other than the United States, and access to them from territories where their content is illegal is prohibited. Those who choose to access the Services from other locations do so on their own initiative and are responsible for compliance with applicable local laws. You may not use or export the Content in violation of U.S. export laws and regulations.
	%br
	%br
	These Terms of Use and any disputes arising under or related to these Terms of Use (whether for breach of contract, tortuous conduct or otherwise) and any claim relating to the Content shall be governed by the internal substantive laws of the State of California. By using the Services, and agreeing to the Terms of Use, you agree that any dispute to enforce, defend or interpret any right or remedies under, or arising in connection with or relating to, these Terms of Use, shall be settled through binding arbitration under the AAA Rules of Arbitration, located at a mutually convenient forum in Ventura, California.
	%br
	%br
	Termination. Royalty Staffing, in its sole discretion, may terminate or restrict your use or access to this Web site (or any part thereof) for any reason, including, without limitation, if Royalty Staffing believes you have violated or acted inconsistently with the letter or spirit of these Terms of Use, or if you are in breach of the terms of the Terms of Use. Upon termination, you will immediately destroy any copies of Content of the Services, whether in printed or software format.
	%br
	%br
	Privacy. Royalty Staffing recognizes the need to protect the privacy of users of this Site, and to provide additional privacy protection to children. Children under the age of 13 may not visit this Web site. Royalty Staffing does not permit children under the age of 13 to disclose any personally identifiable information through this Web site, and Royalty Staffing immediately deletes any such information as soon as it becomes aware of it. Please see our Privacy Statement for more information.
	%br
	%br
	Waiver. Royalty Staffings' failure to enforce any part of these Terms of Use shall not constitute a waiver of any of Royalty Staffings' rights under these Terms of Use, whether for past or future actions on the part of any person. Neither the receipt of any funds by Royalty Staffing nor the reliance of any person on Royalty Staffings' actions shall be deemed to constitute a waiver of any part of these Terms of Use. A specific, written waiver signed by an authorized representative of Royalty Staffing may only provide a legal waiver.
	%br
	%br
	Severability. If any provision of these Terms of Use shall be found to be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these terms and conditions and shall not affect the validity and enforceability of any remaining provisions.
	
	
	
