- content_for :footer, javascript_include_tag("http://platform.twitter.com/widgets.js")
= link_to "Tweet", "http://twitter.com/share", :class => "twitter-share-button", :"data-url" => "http://missuproar.rockstaruproar.com/#{member.profile_name}", :"data-text" => "Check out #{member.first_name.titleize}! She's running for the title of 2011 Sullen Art Collective's Miss Uproar #missuproar", :"data-count" => "horizontal",  :"data-via" => "rockstaruproar"
