#home-slider
  .slider-window
    .slider-reel
      %div
        = image_tag "/images/slider/1.jpg"
      %div
        = image_tag "/images/slider/2.jpg"
      %div
        = image_tag "/images/slider/3.jpg"

