#home-slider
  .slider-window
    .slider-reel
      %div
        = image_tag "http://cache.rockstaruproar.com/images/2012/missuproar/slides/finalists-slide.jpg"
      %div
        = image_tag "http://cache.rockstaruproar.com/images/2012/missuproar/slides/winner2011-slide.jpg"

