#home-slider
  .slider-window
    .slider-reel
      %div
        = link_to image_tag("/images/slider/1.jpg"),  "http://bit.ly/sN7RsB"
      %div
        = link_to image_tag("/images/slider/2.jpg"), welcome_path

