#home-slider
  .slider-window
    .slider-reel
      %div
        = link_to image_tag("http://cache.rockstaruproar.com/images/2012/missuproar/slides/MissUproar-SignUp-slide.jpg"), new_member_registration_path(ssl_options)
      %div
        = image_tag "http://cache.rockstaruproar.com/images/2012/missuproar/slides/finalists-slide.jpg"
      %div
        = image_tag "http://cache.rockstaruproar.com/images/2012/missuproar/slides/winner2011-slide.jpg"

