#home-slider
  .slider-window
    .slider-reel
      %div
        = image_tag "/images/slider/1.jpg"
      %div
        = link_to image_tag("/images/slider/2.jpg"), welcome_path
      %div
        = link_to image_tag("/images/slider/3.jpg"), welcome_path

