#content2{:class => (admin_signed_in? ? "admin-member-list" : "")}
  .sliderMain

  = render :partial => "main", :locals => { :members => @members }
.clear
 
.contestFooter
  = link_to "Official Rules", rules_path
  = "  |  "
  = link_to "Terms & Conditions", terms_path
